[2016-04-26 18:26] iqnivek opened #1 "Add animations"

[2016-04-26 18:27] iqnivek opened #2 "Add optional M/W/F day-of-week labels on left side"

[2016-04-26 18:28] iqnivek opened #3 "Fully replace millsecond calculations with shiftDate, for daylight savings time"

[2016-04-26 18:29] iqnivek opened #4 "Refactoring - encapsulate date and layout logic in separate classes"

[2016-04-26 18:32] iqnivek opened #5 "Handle CSS better"
Import CSS directly into module IF it allows style overriding.

Else - move css file out of /demo (need to build with webpack?). Into /src or /dist?

[2016-04-26 19:13] iqnivek opened #6 "Add script to automatically update gh-pages based on /demo dir"

[2016-04-27 15:34] iqnivek commented on #6
fixed in 238662d008

[2016-04-27 15:34] #6 closed

[2016-05-10 20:43] iqnivek opened #8 "Fix build error"
npm run build

[code]

[2016-05-10 21:08] #8 closed

[2016-05-10 21:08] #5 closed

[2016-05-11 21:30] iqnivek opened #9 "Fix travis-ci failure on node 5"
node 5 does work fine locally, but failing on travis:
https://s3.amazonaws.com/archive.travis-ci.org/jobs/129546876/log.txt

[2016-05-12 21:14] iqnivek opened #10 "Explicitly select or merge values when there are multiple values on a day"
currently, it's taking the last one of that day in the values array

if merging, provide a prop hook which takes an array of values to allow, e.g. averages
using that scheme, default to most recent value

[2016-05-16 21:55] iqnivek commented on #2
closing, not planning to implement right now

[2016-05-16 21:55] #2 closed

[2016-05-16 21:57] iqnivek opened #11 "titleForValue and onClick callbacks could have a second "date" argument"
currently, not possible to access a date for days that don't have associated values

[2016-05-16 21:58] iqnivek opened #12 "Use better tooltip mechanism than svg <title>"
add callback to set rect data attributes? use bootstrap tooltip in demo?

[2016-05-19 16:27] euphoria opened #13 "Jigsaw / disjointed month support"
It would be useful to be able to support the Jigsaw / disjointed month style found on GitLab's activity graphs.  You can see an example at https://gitlab.com/u/rymai

[2016-05-19 17:01] iqnivek commented on #13
good idea - I'll look into that at some point!

[2016-05-19 19:16] iqnivek commented on #11
On second thought - if you want to have a tooltip or click behavior on a square, you could just provide a value for that date. Helps keep the prop API simpler that way.

[2016-05-19 19:16] #11 closed

[2016-05-19 19:51] #12 closed

[2016-05-20 03:38] #1 closed

[2016-05-26 18:19] iqnivek opened #15 "Rename CSS prefix and add more CSS class hooks"
rename to `CalendarHeatmap-foo` and add named hooks to rect, text, labels, etc

[2016-06-07 21:17] iqnivek opened #16 "Add startDate prop (in addition to or in replacement of numDays)"
add startDate and deprecate numDays in a minor version, then major version to remove numDays?

[2016-08-18 04:24] iqnivek opened #17 "Simplify github pages generation (move /demo to /docs)"
https://github.com/blog/2228-simpler-github-pages-publishing

[2016-09-05 14:53] jimmyyao88 opened #18 "value always 'null'"
`<CalendarHeatmap
            endDate = {new Date(endCalendar)}
            numDays = {365}
            values = {schedulesTimes}
            onClick = {(value) => { alert(value) }}
            titleForValue = {customTitleForValue}
            tooltipDataAttrs = {customTooltipDataAttrs}
            />`
![image](https://cloud.githubusercontent.com/assets/7344857/18251387/747ab436-73bb-11e6-9618-681

[2016-09-07 02:13] iqnivek commented on #18
yeah - so the value prop, `schedulesTimes`, is an array of objects, right? the component expects a `value` attribute for each object which contains the date. The onClick callback gets passed the `value` attribute of that particular day - so if you don't have an object for that day, `value` will be null.

Currently, if you want to get a non-null value for every square, you'll have to add all the da

[2016-09-07 07:38] jimmyyao88 commented on #18
@iqnivek appreciate ur reply! awesome tool save my life!

[2016-09-07 19:01] iqnivek commented on #18
glad to hear it! 😃

[2016-09-09 18:07] jimmyyao88 commented on #18
Thx😉

[2016-09-09 18:07] #18 closed

[2016-10-26 20:06] okize opened #20 "Ensure all necessary dependencies are specified in package.json"

[2016-10-27 02:50] #20 closed

[2016-10-28 05:58] ankitrg opened #22 "Calender Heatmap not working"
I am using this component to render heatmap, but I am unable to do so. I think the component is not accepting my dataset. I have also tried with fixed dataset.

Here is what my component looks like:

[code]

This will just render a black heatmap with 6 months, it must be the default I think.

[2016-10-29 13:59] iqnivek commented on #22
what do your values look like - can you give an example? it should be an
array of objects that each have a 'date' attribute. additionally, you'll
need to add some css to make the colors not be the default svg black color
- take a look at the readme to see how to get started with some sample css.
let me know if you have further questions!

On Oct 28, 2016 2:58 PM, "Ankit Singhaniya" <notifications@

[2017-01-21 23:16] chantlong opened #24 "tooltip issue"
I am trying to get the tooltip to work but nothing is showing up.

I used the code you have in the demo with the following scripts
[code]

Inside the CalendarHeatmap component, I added these props
[code]

with the functions from your demo
[code]

I do not see any error too, so I am not sure what the problem is...
The calendar is working itself showing the colored squares and when I click on it, it

[2017-02-05 03:21] iqnivek commented on #24
What are you passing for CalendarHeatmap's `values` prop? If you want a tooltip for a particular date, you'll need an object in the `values` array for that date that looks like `{ date: '2017-01-01' }` or `{ date: new Date('2017-01-01') }`. Hope that helps.

[2017-02-08 01:42] theptrk opened #25 "Heat map overflows containing div"
Hi, thanks for making this component. Great work!

I am limiting the days to 100 days but find that the map is really tall on some screens. If I add a max height to the div containing the react component, the heatmap renders below the div.

Is there a fix for this issue?

Thanks again.

[2017-02-08 01:56] theptrk commented on #9
Dont know why its failing but here is the first error message:

Starting with io.js 3 and Node.js 4, building native extensions requires C++11-compatible compiler, which seems unavailable on this VM. Please read https://docs.travis-ci.com/user/languages/javascript-with-nodejs#Node.js-v4-(or-io.js-v3)-compiler-requirements.

[2017-02-08 01:57] theptrk commented on #9
The other error messages are probably because the above error is causing installation/bundling issues

[2017-02-08 20:27] stevelacy opened #26 "Add mouseOver / mouseLeave props to squares"
Request, add mouse events to the squares.
https://github.com/patientslikeme/react-calendar-heatmap/blob/master/src/index.jsx#L196

[code]
Pass the value and date of that square and it's pointer event (for x/y coordinates).
This will enable the parent component to get the 'tooltip' event as a prop in a more react way, instead of using a jquery style selector.
If you would prefer not to have ternari

[2017-02-12 11:05] chantlong commented on #24
Thank you. I was passing in an array that looks like this.
`values=[{date: "2017-2-12", count: 7}]`
Maybe it's because my month lacks the 0 in front of 2...
I'll test it out.

[2017-02-19 01:08] #4 closed

[2017-02-19 01:09] #10 closed

[2017-02-19 01:24] iqnivek commented on #25
Yup, I see the issue. Some potential solutions:

**1. Restrict the width instead of the height**

Example:

[code]

**2. Make svg equal to height of parent**

Example:

[code]

Let me know if this helps, or if you run into any further issues. Thanks!

[2017-02-26 19:47] theptrk commented on #25
Thanks!

Is this something you do on your own projects? We could make this a default if it makes sense.

[2017-02-26 19:47] #25 closed

[2017-02-26 20:08] iqnivek commented on #25
I usually use grid systems to restrict the width, which works out of the box, and I think that'll be a more common use case since the heatmap is by default horizontally oriented. Since setting height:100% would mess with that, I don't think it should necessarily be a default, unless it turns out a lot of people are restricting height instead of width. But thanks for raising this issue!

[2017-03-20 11:57] cmajorsolo opened #27 "Add the style configuration for the month labels"

[2017-03-22 16:37] mikeq opened #28 "titleForValue not updating when componentWillReceiveProps"
I have a heatmap component and feeding it data from the result of a graphql/apollo query.  When refreshing with client cached data (which doesn't call componentDidMount but just componentWillReceiveProps) it does not update the data in the titleForValue

First run (not cached data)

![image](https://cloud.githubusercontent.com/assets/189738/24208878/ad37eb52-0f1c-11e7-8438-8c950dcdfc28.png)

Secon

[2017-03-23 10:39] mikeq commented on #28
Carried out a bit more investigation, your componentWillReceiveProps is definitely getting the correct data, and your this.getValueCache is definitely using the correct data, as seen below

![image](https://cloud.githubusercontent.com/assets/189738/24243852/77c1aede-0fb4-11e7-9757-70aae7cd1d49.png)

Inspecting the elements it seems the "title" attribute and the "data-original-title" values are dif

[2017-03-23 12:33] mikeq commented on #28
I realise this might be a bootstrap tooltips issue, so to get around it I came up with this

![image](https://cloud.githubusercontent.com/assets/189738/24247729/b85f3406-0fc4-11e7-80aa-da914340b52b.png)

That may be of help to others.

[2017-04-02 07:35] iqnivek commented on #28
Hey mikeq! Thanks a bunch for the detailed investigation and workaround, it's much appreciated.

I haven't looked into it deeply, but this does seem like a tricky problem to fix, since tooltips are supported in a non-react way, relying on external libs to mutate the DOM outside the react lifecycle. A better solution might be to look into using a react-based tooltip library.

Unfortunately, I'm no

[2017-04-06 16:05] DavidSichau opened #29 "Feature Show Days"
It would be nice if one could additionally display the days on the left side. Like on github.

like Mon, Wed and Fri or so.

[2017-04-23 06:45] neoeahit commented on #24
I am having the same issue? maybe this is because of the version of bootstrap being used?

[2017-04-23 06:52] neoeahit commented on #24
I can confirm the issue I am facing is because of the version of bootstrap being used. Would it be possible to support current stable version of bootstrap? and not the developer version.

[2017-05-05 20:08] cassiopagnoncelli opened #30 "Months language"
Currently, ['Jan', 'Feb', ..., 'Dec'] is hardcoded. It would be nice to allow months' names in other languages or allowing users to set months' names.

[2017-05-09 21:03] snegostup commented on #24
I confirm that tooltip doesn't work with v3 Bootstrap and does work with v4 Bootstrap

[2017-07-23 14:04] otakustay commented on #30
If accepted, I can make a pull request for this

[2017-07-28 18:48] VictorChen opened #32 "React Bootstrap Tooltips?"
Is there a good way to hook up tooltips if we're currently using React-Bootstrap?

eg:
https://react-bootstrap.github.io/components.html#tooltips

[2017-08-11 22:12] easingthemes opened #34 "Upgrade to latest React"
Hi,
From `react v15.5` some dependencies has changed:

1. PropTypes are now separate package `prop-types`.
https://facebook.github.io/react/warnings/dont-call-proptypes.html

2. `react-addons-test-utils` are deprecated.
https://www.npmjs.com/package/react-addons-test-utils

3. `enzyme` has changed because of that.
https://github.com/airbnb/enzyme/issues/976

So this component needs update.

I'm al

[2017-08-21 10:51] ferhatelmas opened #36 "Chrome doesn't render svg title attribute"
Title must be added as a child element to be standard. See [details](https://groups.google.com/a/chromium.org/forum/#!topic/chromium-discuss/CX8WmowIFa4).

[2017-08-23 12:13] okize commented on #34
Thank you @easingthemes!

Issue fixed by https://github.com/patientslikeme/react-calendar-heatmap/pull/35

[2017-08-23 12:13] #34 closed

[2017-08-31 03:38] cassiopagnoncelli commented on #32
Semantic UI is also a good pick to go

[2017-08-31 07:45] arvindkumarc commented on #26
This should be a simple enough change to include, it would allow us to not rely on jquery/bootstrap based tooltips.
Add me as a collab, I can contribute and close this out.

[2017-08-31 19:20] #30 closed

[2017-09-11 09:17] andreysaleba commented on #29
I'll try to submit PR with this feature in the next few days

[2017-09-11 11:30] andreysaleba commented on #29
Hey, I've submitted PR with this feature implementation.
Can you check it? #37

[2017-09-12 05:49] andreysaleba commented on #16
Hey, I've added PR with the startDate prop #38

[2017-09-12 06:33] andreysaleba commented on #26
Hey, I've added PR for this #39

[2017-09-12 07:04] andreysaleba commented on #36
Added PR for this #40

[2017-09-15 15:46] atkawa7 commented on #24
I had the same problem. Ended up using [`https://github.com/wwayne/react-tooltip`](https://github.com/wwayne/react-tooltip).  Something like this

[code]
Note: I called  `<CalendarHeatmap>` before `<ReactTooltip/>`

[2017-10-02 13:00] ferhatelmas commented on #36
As #40 is merged, this issue is good to close too.

[2017-10-02 13:00] #36 closed

[2017-10-02 13:13] andreysaleba commented on #29
It's done now, I guess this can be closed

[2017-10-02 13:23] #26 closed

[2017-10-02 13:23] #29 closed

[2017-10-04 06:58] andreysaleba commented on #16
I think it can be closed now

[2017-10-04 11:36] #16 closed

[2017-10-06 18:30] andreysaleba commented on #27
I think this is merged and can be closed?

[2017-10-06 19:12] #27 closed

[2017-10-16 00:53] Anveio opened #44 "Not an issue. Thanks for this component!"
Using your source code, I was able to create a similar component adapted to my own needs for use in a TypeScript + Redux + Immutable.js project. (If anyone wants to see what that looks like: https://github.com/Anveio/mturk-engine/blob/master/src/components/Calendar/CalendarHeatMap.tsx )

The end result: https://i.imgur.com/3CSIXc5.png

This was my first introduction to using SVG and I'm happy with

[2017-10-16 00:53] #44 closed

[2017-10-17 13:52] okize commented on #44
that looks awesome @Anveio!

[2017-10-25 11:17] scotthelps commented on #32
@VictorChen add this prop to your CalendarHeatmap component.

[code]

[2017-10-26 19:31] VictorChen commented on #32
@scotthelps Nice!! did not know about `transformDayElement` prop, thanks!

[2017-10-26 19:31] #32 closed

[2017-10-27 18:55] #17 closed

[2017-11-16 21:49] grahambryan commented on #32
@cassiopagnoncelli could you post a snippet of how you got the tooltip to work with semantic-ui-react popup component?

[2017-11-17 02:19] cassiopagnoncelli commented on #32
@grahambryan Honestly I couldn't, it was a mere suggestion. However it seems to be as easy as wrapping Semantic UI's <Popup /> around

https://github.com/patientslikeme/react-calendar-heatmap/blob/0fb7a61638addea1e1d9254b55a777748a716c9d/src/index.jsx#L251

[2017-11-17 20:05] grahambryan commented on #32
@cassiopagnoncelli Thanks! I ended up going with react-tooltip

`  <CalendarHeatmap
                    endDate={new Date('2018-01-01')}
                    startDate={this.state.startDate}
                    values={this.state.values}
                    onClick={this.onClick}
                    classForValue={(value) => {
                        if (!value) {
                          return '

[2017-11-25 08:16] gitname opened #58 "Package installation fails in Windows"
### Background Info

The `package.json` file in this package contains the following lines, among others:

[code]

My computer is running Windows 7 Professional 64-bit.

### The Problem

When I run `$ npm install` ([which runs `$ npm build`](https://docs.npmjs.com/cli/build#description), which maps to the command shown above), the Windows Command Prompt tries to run a command named `NODE_ENV`. The

[2017-11-25 22:42] gitname opened #59 "Heatmap ignoring new startDate and endDate values"
When I pass new `startDate` and `endDate` props to a `CalendarHeatmap` component, the component does not update to show the data points that fall within the new date range.

I created an interactive **online demo** in which people can observe this behavior. The demo is at:
https://codesandbox.io/s/32zxwx5ow1

Here's a depiction (created using the above demo) of the behavior:

1. :white_check_mark:

[2017-11-26 11:42] gitname commented on #59
In the [online demo linked above](https://codesandbox.io/s/32zxwx5ow1), I noticed that the heatmap shows the two "heatmap data" items in the following cases:
1. When the heatmap is **first rendered** (at which point the active year is 2017) :white_check_mark:
2. When I change the active year **from 2017** to 2016 :x:
3. When I change the active year **from 2017** to 2018 :x:

However, it does not

[2017-11-26 12:09] gitname commented on #59
I have my eye on the following code as a potential culprit.

[Lines 19-23 of `index.jsx`](https://github.com/patientslikeme/react-calendar-heatmap/blob/master/src/index.jsx#L21) contain the following:

[code]

The method `getValueCache()` contains a call to `this.getStartDateWithEmptyDays()`,
the method `getStartDateWithEmptyDays()` contains a call to `this.getStartDate()`,
the method `getStartDat

[2017-11-27 02:19] gitname commented on #59
This issue is fixed in commit 490b665 (part of Pull Request #57).

[2017-11-27 09:42] gitname commented on #58
This issue is fixed in commit 648f315d62dcfb5275db110c755c94a89feabe48 (part of *Pull Request #61*).

[2017-11-28 03:19] gitname commented on #28
@mikeq, I noticed that, while this component updates its "value cache" in `componentWillReceiveProps()`, it pulls values from a combination of props (i.e. both `nextProps` and `this.props`) in a way that creates the potential for inconsistency to exist within the component in all renders following the initial one.

Specifically, in `componentWillReceiveProps()`, while the component does use the **

[2017-11-28 09:01] gitname commented on #28
One way you can "try out" the code in the PR, is to change the `"react-calendar-heatmap"` entry in your project's `package.json` file **from this**...

[code]

...**to this**...

[code]

...then, finally, running `$ yarn install` on your project.

You can then verify your project is using the new version, by running the following command...

[code]

...and looking for this exact output:

[code]

I

[2017-11-28 10:10] gitname commented on #28
One way you can "try out" the fix I referred to in my previous comment is:

1. On your local system, **clone** the `gitname-dev` branch of the repository whose URL is https://github.com/gitname/react-calendar-heatmap.git. That branch contains the fix. You can clone it by issuing the following command:

[code]

2. **Build** the `react-calendar-heatmap` project by issuing the following command:

[co

[2017-11-30 10:52] okize commented on #58
Fixed by https://github.com/patientslikeme/react-calendar-heatmap/pull/61

[2017-11-30 10:52] #58 closed

[2017-12-01 01:22] #59 closed

[2017-12-01 01:22] gitname commented on #59
This is fixed in release 1.6.2.

Here is a demo that uses release 1.6.2, showing the absence of the issue:
https://codesandbox.io/s/q7nww60l9j

[2017-12-01 01:25] gitname commented on #28
Update: instead of using my fork of `react-calendar-heatmap` as I suggested in my previous 2 comments; you can use version 1.6.2 of the official repo (all of my customization now exist in that version).

[2017-12-05 12:39] vikkya opened #64 "classForValue not working"
I cloned the repo  and the color for the heatmap is not wokring as shown in the demo.  im getting black instead. (PFA).
![repo](https://user-images.githubusercontent.com/26187350/33607502-59d01322-d9e7-11e7-89cb-594b6f5649f0.png)

can u please tell me what is wrong here.

[2017-12-05 13:55] tejaser commented on #64
Its missing d3js dependency in the package.json file.  you can add the same and get it to work.  I have submitted a [pull request#65](https://github.com/patientslikeme/react-calendar-heatmap/pull/65) for the same

[2017-12-05 14:46] tejaser commented on #64
I worked with the developer, it seems the problem is with his windows machine.  the pull request was not required.  So I have closed the pull request.  I have suggested him to use online editor to verify the issue.

[2017-12-06 14:26] okize commented on #64
@vikkya could you provide some more details? are you seeing any console errors?

[2017-12-21 12:25] StevanSkrbic opened #69 "OS: Window 10, Internet Explorer 11 heatmap not rendering at all."
On OS: Window 10 in browser: Internet Explorer 11
heatmap is not rendering at all.

[2017-12-22 12:05] StevanSkrbic commented on #69
Fixed with adding babel-polyfill as a dependencie in project package.json.

[2017-12-22 14:28] andreysaleba commented on #69
Hey, I've added PR with that change #70

[2018-01-24 09:50] TomasPangzi opened #73 "safari didn't render fill color"
as title say
![wechatimg24](https://user-images.githubusercontent.com/8348504/35366267-7feabc3a-01b3-11e8-94d9-37106494e882.jpeg)

[2018-01-25 01:44] TomasPangzi commented on #73
sorry, it's my fault. the date formatted error. but chrome worked make me confused

[2018-01-25 01:44] #73 closed

[2018-01-30 00:52] NullCodex opened #74 "Calendar not accepting weekday labels"
Currently, it looks like the calendar is not accepting any new labels? Additionally the css looks off? Overlapping with the heat map itself.

I'm calling it with:
[code]

The displayed image looks like:
<img width="360" alt="screen shot 2018-01-29 at 7 52 09 pm" src="https://user-images.githubusercontent.com/7586288/35542426-f2b0c002-052d-11e8-993f-6c5fd7594333.png">

[2018-02-03 01:05] NullCodex commented on #74
Hi any updates?

[2018-02-09 19:56] isaacnass commented on #24
as an addendum to @atkawa7 if you're pulling records asynchronously to put in the heatmap make sure to either render the heatmap _with_ the tooltip conditionally or call `ReactTooltip.rebuild()` after you fetch the data to rebind the tooltips!

[2018-03-01 17:32] NullCodex commented on #24
@atkawa7 Could you expand more on your solution with react-tooltip? How did you pass the individual lawn data into data-tip?

[2018-03-28 16:38] daxaxelrod opened #75 "Viewbox Cutting off Months"
Love the component! I was wondering if you could expose the getViewBox() method. with 0 0 x y, the top of my months are getting cut off. Make the view box 0 -1 x y does the trick but I can't find a way to do that programatically.

![screen shot 2018-03-28 at 12 36 17 pm](https://user-images.githubusercontent.com/10982992/38043317-cb4f9162-3284-11e8-93ea-c82383573085.png)

[2018-05-30 13:26] Andreeh opened #78 "Start week on Monday instead of Sunday"
I would like my calendar to start on Mondays instead of Sundays. I've looked through the docs and the source code but I could not find any optional settings for this.

![calendar heatmap](https://user-images.githubusercontent.com/7263415/40722545-e9413e22-641c-11e8-9df7-fdb89651fe96.png)

 And also, changing the weekdayLabels aka filling in the empty spots in the array does not seem to be working

[2018-07-12 21:58] panzupa opened #79 "Calendar not rendered"
Hi,

I tried to include this calendar in my app but I get following error:
[code]

My component, mostly done from Readme sample:
[code]

What am I doing wrong?

[2018-07-12 23:23] iqnivek commented on #79
Looks like you're doing a named import instead of a default import. If you change

[code]

to this:

[code]

..then you should be good to go!

[2018-07-13 06:58] panzupa commented on #79
Thank you @iqnivek . That helped me 👍

[2018-07-20 00:43] daxaxelrod opened #80 "Gradient fill of single day"
Hi! Great lib.

I'd like to create some more dynamically colored days but the fill css property is pretty limited. Is there any way I'd be able to define my own xml fills and then point the fill attr to my custom fills?

Thanks

[2018-07-20 01:35] daxaxelrod commented on #80
Actually just created a pull request that includes this idea as a new feature to the app!

[2018-07-27 04:29] jclif opened #82 "Reverse Order"
It would be nice to be able to reverse the order of the calendar, so that the most recent dates are displayed highest.

My use case for this is on mobile phones (where I'm setting the prop `horizonal` to `false`), in situations where the user cares most about their recent data.

[2018-08-08 15:52] Jrbesse opened #85 "Heatmap is microscopic"
`
<CalendarHeatmap
                              startDate={new Date("2018-07-01")}
                              endDate={new Date("2018-09-10")}
                              numDays="70"
                              showMonthLabels="false"

                              values={[
                                { date: "2018-07-01", count: 4 },
                                { date: "2018-07-

[2018-08-09 12:26] GowthamGr opened #86 "Touchable Opacity and Hint in rectangular box of heat map"
Hi,
I used this example in my application how to add touchable opacity,hint and zoomable animations in the heat map

[2018-08-10 04:58] #86 closed

[2018-08-10 11:09] panuhorsmalahti commented on #78
The empty spots are rendered because of this:
`return dayIndex & 1 ? (`
https://github.com/patientslikeme/react-calendar-heatmap/blob/master/src/index.jsx#L300

[2018-08-13 13:00] #85 closed

[2018-08-25 20:55] iqnivek commented on #22
Here's a minimal setup of react-calendar-heatmap with create-react-app on CodeSandbox, which should hopefully help show how things are set up: https://codesandbox.io/s/73mk9wlyx

[2018-08-25 20:55] #22 closed

[2018-08-25 20:58] iqnivek commented on #13
Sorry @euphoria, don't think we'll likely be supporting this after all.

[2018-08-25 20:58] #13 closed

[2018-08-31 04:54] iqnivek commented on #9
Builds are working now, closing.

[2018-08-31 04:54] #9 closed

[2018-09-09 02:28] iqnivek commented on #64
Closing this as we haven't heard anything about it for a while. If you still see this issue, please take a look at the [codesandbox example](https://codesandbox.io/s/73mk9wlyx) and see if you can fork it to have a minimal example that reproduces the issue. Thanks!

[2018-09-09 02:28] #64 closed

[2018-09-09 05:13] iqnivek commented on #74
Hi @NullCodex! Sorry about the delay in responding.

It turns out `weekdayLabels` specifies the strings used for the labels, but only the odd-indexed labels are shown. I think this behavior is pretty confusing, and I'd be up for changing it - my initial thought would be changing weekdayLabels to do what you'd expect (render all the specified labels), and we can then remove showWeekdayLabels. In th

[2018-09-10 01:23] okize opened #91 "npm warnings on publish"
[code]

[2018-09-15 11:25] sagarchoudhary96 opened #92 "Generating wrong Heat map"
I created the CalendarHeatmap with `startDate={new Date('2018-06-01')}` and `endDate={new Date('2018-06-30')} ` . It is not generating heatmap properly. As you can see in the screenshot below the colored box is `01-06-2018` and i am seeing other blocks too before it.

 Also the heatmap with title **H** is for  `startDate={new Date('2018-08-01')}` and `endDate={new Date('2018-08-30')} `, but it too

[2018-10-12 09:44] #92 closed

[2018-10-14 02:12] benjamindesilva opened #95 "Blocks to represent weeks not days"
Hi,

Is there a possibility for the blocks to represent weeks and not days? I'm looking to build out a vertical calendar heat map displaying a year at a time. So in order to save screen space, I would like each block to represent a week (ie: each row of blocks would be a month).
Eg:
[][][][][] August
[][][][][] July
[][][][][] June
etc...

It would be wonderful if this was possible as I need to mu

[2018-10-24 10:21] anajavi opened #96 "Running inside <StrictMode> gives warning about componentWillReceiveProps"
I just tested running react-calendar-heatmap inside a strict mode tree (https://reactjs.org/docs/strict-mode.html).
It gives the following warning:
[code]

getDerivedStateFromProps cannot be used in React 16.3, so this can be resolved with:
1. raising the peerDependency version of React
2. **or** using componentDidMount and componentDidUpdate to do the same thing

Which one is preferred solution?

[2018-10-24 13:17] evan-007 commented on #96
thanks @anajavi -- my first reaction is to release a version using `componentDidUpdate` for now and then bump the react dep in v2.0.0.

[2018-11-01 02:54] Koshukey opened #99 "in ios , calender-heat-map does not show."
I use this in app made by Next.js.
I can see  calender-heat-map in macbook, however, in ios,  calender-heat-map does not appear.
This error ``` Problem parsing viewBox="0 0 NaN 120"``` occurred. Then, svg tag cannot be appeared.
I read this library code and I think getViewBox() does not work well in ios........

[2018-11-01 06:16] Koshukey commented on #99
and it is very misterious......
before one week ago, it worked........

[2018-11-04 02:06] Koshukey commented on #99
I found the reason.
I passed props like 2018-11-4, but I need to pass 2018-11-04. 😭

[2018-11-04 02:06] #99 closed

[2018-11-04 03:19] iqnivek commented on #95
Hi @benjamindesilva! This wouldn't be possible right now, and the suggested functionality seems divergent enough that it'd probably be better just to fork and roll your own.

[2018-11-04 03:19] #95 closed

[2018-11-08 08:01] iqnivek opened #100 "Fix indexing issue with daylight savings time"
There's a missing index in getValueCache due to daylight savings time. Not sure if the time is relevant, but I noticed this around 11:30pm PST when the demo site was breaking [here](https://github.com/patientslikeme/react-calendar-heatmap/commit/d83a2eaf4468a0f239c3e5d0a2902d7811365a8b#diff-2ddccf519992489dd074406a5bdb7367R46) with a null value.date, so I added a temporary fix to the demo for now

[2018-11-28 16:53] #96 closed

[2018-11-29 06:32] webmastervishal opened #102 "CSS Loader issue"
Hi there,
I am using the react-calender-heatmap in my react js project, the CSS loader has been added to web pack.

I tried to directly import the style sheet from the module but that didn't work.
So I copied the stylesheet from the link and imported it into the project but getting the same css loader issue.

Error:

[code]
Not able to style the component kindly help.

[2019-01-11 02:17] parkroolucas commented on #18
I don't think that adding a second argument is a bad idea.

Right now the API provides no way for the code to detect which empty square was clicked, when an empty square is clicked.

I can definitely see a second argument in the `onClick` handler being extremely useful, e.g. when trying to add new information for a particular date.

[2019-03-18 12:55] xuopled opened #104 "Group by month"
Hello, It could be awesome to group heatmap by month to get something like:

<img width="646" alt="Screenshot 2019-03-18 at 13 52 16" src="https://user-images.githubusercontent.com/2683300/54531353-5c540900-4985-11e9-940c-6ca630d5995f.png">

[2019-03-18 17:06] SamSunani commented on #104
I have done something similar using the package. I create separate calendars and arrange them in a grid. It would be nice if there was a props that could automatically do this.

![image](https://user-images.githubusercontent.com/15188782/54548588-7847b280-4965-11e9-83be-a2dc16830459.png)

[2019-03-19 07:33] xuopled commented on #104
Nice. Could you share the props you used to get this result ?

[2019-04-02 10:40] skjo0c commented on #104
@SamSunani I would like to check how you did this as well. Could you share it please.

[2019-04-02 15:34] SamSunani commented on #104
Hi everyone,

@skjo0c @xuopled

sorry for the late reply.

Here is the code I used to generate this:

I create a calendar array with the start and end dates for each month. The first month's date is inside `calendarStartDate`

[code]

and then using the calendar date array I create four `CalendarHeatmap`. I create it inside a Grid which is part of `semantic-ui-react`

[code]
I had issues displayin

[2019-04-03 06:56] skjo0c commented on #104
@SamSunani thanks for your help, I was able to recreate it for my project as well. But it looks like weekdayLabel is shown only for even days!

[2019-04-24 23:02] giovapanasiti opened #109 "display the day's number in the middle of every single square"
Is anyone else interested?

[2019-07-02 04:04] erksdee opened #111 "Add the ability to override svg attributes"
Hi,

I would like the SVG elements to be circles instead of rectangles. To achieve this, I would need to add `rx="100" ry="100"` to each svg element. Just wondering if it's possible to add or override those SVG attributes?

[2019-07-03 01:10] jyang81 opened #112 "The dates on the heatmap are off by one"
The day of the week is not rendering correctly. For example, my start date is '2019-03-11', which is a Monday and my end date is '2019-06-21' which is a Friday. But the calendar renders from "Monday 2019-03-12" to "Thursday 2019-06-21", which in incorrect.

My data point for 03-11 does not show up, and my data point for 03-12 shows up on the box where Monday 03-11 is supposed to be. The calendar r

[2019-07-05 08:11] dreikanter opened #113 "Change first day of the week"
Hello! Is there an option to switch the first day of the week from Sunday to Monday?

[2019-07-05 08:15] dreikanter commented on #113
Oh, just noticed there is #78 and a pull request. I really hope this PR will be merged to master. Closing the issue.

[2019-07-05 08:15] #113 closed

[2019-07-18 05:25] kevinsqi commented on #111
Looks like it is possible with the `transformDayElement` prop: https://codesandbox.io/s/react-calendar-heatmap-issue-111-8l9mp

![Screen Shot 2019-07-17 at 10 24 43 PM](https://user-images.githubusercontent.com/396006/61431245-b20fd200-a8e1-11e9-901e-0b1f379c5691.png)

Does that get you what you need?

[2019-07-18 05:39] kevinsqi commented on #69
This might be due to the use of ES6 `Array.from` which [doesn't seem to be supported by IE](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from). If [this bit of code](https://github.com/okize/react-calendar-heatmap/blob/master/src/helpers.js#L22) is switched to use ES5 or lodash.range or just-range, I suspect that IE11 will work again. Need to test  out thi

[2019-07-18 05:41] kevinsqi commented on #112
I'll be happy to look into it. Can you fork this CodeSandbox and pass in the exact data that you're using to see this behavior? https://codesandbox.io/s/73mk9wlyx

[2019-07-18 06:16] erksdee commented on #111
@kevinsqi thanks for that! exactly what I was looking for.

[2019-07-18 06:20] kevinsqi commented on #111
@erksdee awesome!

[2019-07-18 06:20] #111 closed

[2019-07-18 20:41] jyang81 commented on #112
Hi Kevin,

Thank you so much for responding! I was trying to use this in my capstone
project, but I couldn't get it to work correctly. I might not be inputing
the dates correctly, but I couldn't figure out how to fix it. Here's the
fork:

https://codesandbox.io/s/react-calendar-heatmap-basic-demo-zt0ny

Thanks for your help!

-Joe

On Wed, Jul 17, 2019 at 10:41 PM Kevin Qi <notifications@github.co

[2019-07-20 21:48] kevinsqi commented on #102
@webmastervishal sorry about the late reply. Not sure what the issue is - it's got to be some webpack CSS loader configuration issue, so it's outside the scope of this component, I think.

The demo codesandbox uses `import 'react-calendar-heatmap/dist/styles.css';
` through create-react-app without issue - you might want to take a look at it: https://codesandbox.io/s/73mk9wlyx

If you're still hav

[2019-07-20 21:48] #102 closed

[2019-07-20 22:06] kevinsqi commented on #109
This would be interesting. For v2, I'd like to simply provide a `renderDay` prop which allows easy customization of how squares are rendered.

`props.transformDayElement` is already sort of capable of doing this, but it's sort of cumbersome to use. Here's an example of what you're describing: https://codesandbox.io/s/react-calendar-heatmap-issue-109-7unix

[2019-07-20 23:59] kevinsqi commented on #112
Hi @jyang81. Took a look and there's an issue with how dates are indexed. I'd like to fix this but it'll likely involve some pretty large changes to the component, and I can't guarantee when I'll be able to work on that. Sorry about that!

[2019-07-24 21:05] jyang81 commented on #112
Thanks for getting back to me Kevin! I understand this probably isn't your highest priority at the moment. I'll continue to use the package as is, until you are able to fix the issue. Just curious, are there any workarounds I can do to get it to show up correctly for now? If not, it's fine. I can wait until it's fixed. Thanks again, I appreciate it!

[2019-07-28 18:14] kevinsqi commented on #112
There isn't a great workaround I can think of right now. I'll let you know if I can come up with something, or when this gets fixed for real.

[2019-07-29 13:49] andreoman opened #115 "Display the hour's number"
Is it possible to display data like next image ?
![image](https://user-images.githubusercontent.com/2317579/62053662-bd87c500-b220-11e9-8814-d34460428927.png)

[2019-08-01 18:13] kevinsqi commented on #115
Not right now - currently the component is oriented toward calendar days. If that changes I'll give you an update.

[2019-08-01 18:13] #115 closed

[2019-08-09 04:31] oottinger commented on #112
I just ran into this issue as well.  For a workaround I just went through my data list and added 1 to the date for each entry.  Also use a custom tooltip which accounts for the shift.

@kevinsqi does this library factor in a leap year for the index?  Haven't had much time to look at the code to see how things are implemented.

[2019-08-10 21:34] kevinsqi commented on #69
This should be fixed with v1.8.1 - I've verified in IE11/Win8 with VirtualBox at https://www.kevinqi.com/react-calendar-heatmap. Please reopen if there's still an issue.

[2019-08-10 21:34] #69 closed

[2019-08-11 22:30] killia15 opened #117 "Height adds in Weekday size"
It looks like the getHeight function is adding the weekday height - is there a reason for that? I removed it, so that the height was only a function of weekWidth + getMonthLabelSize - gutterSize and it seemed to work.

[2019-10-17 03:51] aweiu opened #120 "Can I fix the text size?"
![image](https://user-images.githubusercontent.com/15623620/66976352-3ab23000-f0d4-11e9-9629-a5419eadfa86.png)

When the layout is big enough, the text will look blurry

[2019-12-15 07:38] cyclops24 opened #123 "Change startDate and endDate default value"
Hi @kevinsqi Thanks for this awesome project. I think it's better to set startDate to the first day of the current year and endDate to the last day of current day as a default value. Now it's set to:
[code]
And I think it's not a good default value.
If you agree I can add this as a PR. Just let me know :wink:

[2019-12-15 07:45] cyclops24 commented on #74
@kevinsqi Any plan to fix this?

[2019-12-17 22:49] kevinsqi commented on #74
Yes, PRs would be welcome. I'd like to work on this as well, if I have time.

[2020-01-01 03:37] kevinsqi commented on #91
Fixed in 7bfebdb42361fcf7d658c44256ef3356fa4cf94a

[2020-01-01 03:37] #91 closed

[2020-01-01 03:41] kevinsqi commented on #123
Yeah, I totally agree that 200 days ago is a bad default value. Honestly, it was so long ago that I don't remember the rationale behind it 😅. I'm not sure that setting the default to be the beginning of the year is ideal either, though, because that's sort of arbitrary too. I'm thinking startDate and endDate should default to the earliest and latest date values in `props.values` instead. What do y

[2020-01-01 03:47] kevinsqi commented on #120
hmm, I'm not seeing the problem in Chrome, but I'm not sure if I'm correctly reproducing the issue. Could you:

1. Add a CodeSandbox that demonstrates the fuzzy text (e.g. fork https://codesandbox.io/s/73mk9wlyx)
2. Include your browser and browser version

Thank you!

[2020-01-06 20:25] schmidtfx commented on #78
What is the status of this here? I'd need this feature as well :)

[2020-01-12 17:30] rastegars commented on #74
For me, it looks like this:

<img width="550" alt="Screen Shot 2020-01-12 at 8 23 27 PM" src="https://user-images.githubusercontent.com/3218684/72222491-654c4180-357a-11ea-9425-c8f79d34535e.png">

I fixed the overlapping problem temporarily, by reseting translation value for the X-axis to zero:

[code]

[2020-04-10 09:44] sampathBlam commented on #123
@kevinsqi : If we use props.values to identify the start and the end date, what would happen if no value is passed by the user in the props.values attribute? We will anyway need a default date, won't we?

[2020-05-03 18:51] shreyansh-zazz opened #131 "Is it still maintained?"

[2020-05-15 07:17] matteokjh opened #132 "bug: startDate not correct"
[Code Sandbox](https://codesandbox.io/s/react-calendar-heatmap-basic-demo-ls2j6?file=/src/index.js)

as you can see, `startDate={"2020-01-01"}` but it seems to start from '2020-01-02'

[2020-05-21 12:05] ZeyadKhattab commented on #132
yes, #128 should fix it

[2020-05-22 16:31] matteokjh commented on #132
thx

[2020-05-22 16:32] #132 closed

[2020-05-23 15:15] dan-cooke commented on #131
Doesnt look like, downloaded the latest version and its broken.

Would try here https://nivo.rocks/calendar/ instead

[2020-05-23 15:16] InderRajput commented on #131
On Sat, 23 May 2020 at 8:45 PM, Daniel Cooke <notifications@github.com>
wrote:

--

*“**Stay hungry, Stay foolish”*

[2020-07-07 17:27] pegahfallah opened #134 "How to change a single box count/colour on click?"
Hello! Awesome library.

I'm trying to make a single box change it's colour when clicked. Is there a way to do this?

Thank you.

[2020-07-15 16:38] Q-Qplus1s opened #135 "weekend localization"
![Screenshot from 2020-07-16 00-33-49](https://user-images.githubusercontent.com/50064165/87571062-0ff51680-c6fc-11ea-9302-7a70051c5fca.png)

![Screenshot from 2020-07-16 00-34-25](https://user-images.githubusercontent.com/50064165/87571116-200cf600-c6fc-11ea-8387-b28cc61775c9.png)

github：2020-7-15 **Wednesday**
react-calendar-heatmap: 2020-7-15 **Thursday**

I'm chinese.

[2020-07-17 20:03] alelevinas commented on #112
Hi there! I see this PR is merged already but there haven't been any new releases since August 2019.
@kevinsqi wondering if you are still maintaining this project or if it is now deprecated? thanks!

[2020-07-19 17:39] #135 closed

[2020-09-18 13:34] zuggiac commented on #78
+1

[2020-10-18 12:39] zhangwei900808 opened #140 "used next.js error"
[code]

this is my code
[code]

[2020-10-18 13:19] zhangwei900808 commented on #140
my sub component data passed in parent component getServerSideProps its workd!

parent
[code]

sub
[code]

[2020-10-18 13:19] #140 closed

[2020-10-21 22:01] juliomilani commented on #112
Found a solution:
 - You should replace getDay() by getUTCDay() for string date input and you should add 1 to getNumEmptyDaysAtStart since you added 1 in getStartDate.

Your 67-73 lines should look like this:

  getNumEmptyDaysAtStart() {
    return this.getStartDate().getUTCDay()+1;
  }

  getNumEmptyDaysAtEnd() {
    return DAYS_IN_WEEK - 1 - this.getEndDate().getUTCDay();
  }

[2020-11-25 23:19] sshah98 commented on #111
This was super helpful thank you :)

[2020-12-31 19:34] gillkyle commented on #112
I got around this by shifting my weekday labels by 1 🤷  not perfect, but got the job done for me for the time being:

Ie:

[code]

[2021-02-05 22:29] rikinshah23 opened #143 "How to show all Day names instead of just 3 and other styling questions."
Hello,
Thank you for this great library.

I have been trying to modify to create my expected heat map for days for one month at a time.

Expected :
![image](https://user-images.githubusercontent.com/26806597/107095661-7049c380-67c6-11eb-8f78-d8557f3bafee.png)

So far I have this.
![image](https://user-images.githubusercontent.com/26806597/107095709-83f52a00-67c6-11eb-8a1e-e398ae61d956.png)

I have

[2021-02-24 09:02] Santiago8888 opened #144 "HeatMaps not rendering on Safari"
I'm an Ubuntu user, and I've got reports that the heatmaps were not rendered on Safari.
I could verify this but not debug it. I'm aware of issue #73 but it's not my case, for me nothing is rendered (including the cells).

As a first step to solve this issue, I wonder if the library is working for someone on Safari?

[2021-03-05 07:24] neikop commented on #78
+1

[2021-03-17 15:24] luwol03 opened #146 "Svg viewbox is to big"
Hello,

I think the height is calculated incorrectly [here](https://github.com/kevinsqi/react-calendar-heatmap/blob/master/src/index.js#L92-L98). Because the viewbox is too big, and it interferes with the other components in my app.

[code]
what this results in:
[code]

![image](https://user-images.githubusercontent.com/60048565/111489443-69558f80-873a-11eb-8751-9655e48abfec.png)

I have tested in

[2021-04-14 21:23] asidapara commented on #82
^^^^

[2021-06-24 18:03] kunaldongre24 commented on #74
Hey there, How can I show dates of the boxes onMoueOver?
Even the boxes which has null values.
Please help

[2021-06-27 07:15] ubbn opened #158 "Start date missing from rendering"
I tried to render data from range, i.e. from 2021-05-01 to 2021-06-30. However, start date, 2021-05-01, is missed to being rendered even though it has data. Has anyone experienced the same? Nice library, but this and other few bugs linger.

[2021-08-23 16:46] jqhoogland commented on #131
Another good option: https://github.com/g1eb/reactjs-calendar-heatmap

[2021-09-05 08:00] luwol03 commented on #146
@ThisTemba As a workaround you can execute that snippet after your import.
[code]

[2021-09-05 13:51] ThisTemba commented on #146
This solution worked! Thanks for that.
This might not be the right place to ask, but do you, by any chance, know how to get the labels to also not be right up against the boxes? It looks weird without any padding/margin.

![image](https://user-images.githubusercontent.com/36087610/132129167-89901228-be49-4489-b08d-b6f72037f034.png)

[2021-09-06 18:05] luwol03 commented on #146
I havent run into that issue, because I use the german lables with only two characters and a point. But that should work. You can also play around with the `WEEKDAYLABEL_LEFT` variable. Its the distance between the viewbox on the left edge and the weekday lables.
[code]

[2021-10-07 12:46] nikfedotoff opened #165 "Limit of weekday labels"
Is it possible to display all 7 weekday labels?

[2021-10-10 03:14] zhangwei900808 opened #166 "transformDayElement params to value no date is null how to get date"
when I set value below
[code]

but tooltip is show value is null how to get the date
![image](https://user-images.githubusercontent.com/4385154/136680241-37cad44e-b0fe-40b9-9f6a-ebb047f433b8.png)

[2021-11-02 08:39] Deveshb15 commented on #123
@kevinsqi  can't I go beyond 200 days, I want to showcase the graph for a whole year?

[2021-11-17 03:24] Bryce-Davidson opened #168 "Bottom border of days being cut off"
How do I fix the bottom part of the day's border from being cut off?

![Screen Shot 2021-11-16 at 19 23 59](https://user-images.githubusercontent.com/44349959/142128979-b4e34361-48b9-4866-8bca-dca93cc284a8.png)

[2022-01-04 21:42] lumenwrites commented on #78
Hey guys, are there any updates on this? I really need it as well.

[2022-01-16 18:13] ethanfann commented on #144
Not working on Safari here either

[2022-02-05 19:43] erdemontas commented on #158
hi, I am experience the same problem. Could you find any solution?

[2022-02-05 20:23] erdemontas opened #171 "WeekDays are not rendered correctly when weekdayLabels array changed"
When make this change  `weekdayLabels={['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']}` to start the week on monday, days are rendered as shifted one day.

Acutally 01.01.2022 is Saturday but it is render as Sunday when weekdayLabels starts on Monday.

![image](https://user-images.githubusercontent.com/29041073/152657608-121799bc-610f-46d6-9470-8c13a5c2f89e.png)

[You can see in codesandbox ](h

[2022-03-05 22:28] luwol03 commented on #146
@ThisTemba Has that worked?

[2022-03-05 22:39] ThisTemba commented on #146
It did actually. Currently using this fix in production.

[2022-03-05 22:41] luwol03 commented on #146
Ok cool. But this projects seems dead. Hopefully the maintainers can fix this.

[2022-04-12 19:40] kirianguiller opened #178 "Add React 17 to the compatibility list"
Hello, thanks a lot for your amazing library :)

My team and me are using react 17, but atm, for this library, only react 16 is "supported". So when doing `npm install`, we get an incompatibility error that can be fixed with adding the parameter `--legacy-peer-deps`.

As we saw no problem in the library, maybe after checking, we could add React 17 to the versions of react that are supported by `re

[2022-06-22 06:22] morwalz commented on #178
I created a forked version of it.  I plan to maintain this package
you can use this
https://www.npmjs.com/package/@shankarmorwal/react-calendar-heatmap

[2022-06-24 13:50] mattnedrich commented on #144
bump

[2022-06-27 06:54] kevinsqi commented on #178
Sorry this is ultra late; I've added React 17 and 18 to the peerDependencies. Let me know if there's still an issue.

[2022-07-05 21:52] Zandor300 commented on #78
+1

[2022-09-03 23:07] papo1011 commented on #158
Hi, same problem for me 😢I will look for a solution, does anyone know where to start?

[2022-09-21 09:48] redshade commented on #158
You can write the day before the start time，e.g. 2021-04-30 to 2021-06-30

[2022-11-07 14:45] felixmosh opened #193 "Add Right-to-left support"
It could be really great if this lib will be able to add a support for RTL languages.

[2022-11-07 14:48] felixmosh commented on #193
I've managed to add a support for RTL.
![react-calendar-heatmap-rtl](https://user-images.githubusercontent.com/9304194/200338822-6b0c168f-1d3b-471b-a2ec-3f04e3620759.png)

Basically it flips the days & labels.
I've added many tests for this, https://github.com/felixmosh/react-calendar-heatmap/commit/a805790c1d58ce5142c15d45aeffce2e1aa39bc7

Will add this feature if I'll make a PR for it?

[2022-11-10 14:26] Stophface commented on #112
I think it might be this function.

https://github.com/kevinsqi/react-calendar-heatmap/blob/master/src/index.js, line 55 following
`  getStartDate() {
    return shiftDate(this.getEndDate(), -this.getDateDifferenceInDays() + 1); // +1 because endDate is inclusive
  }
`

When I remove the `+ 1`, it works. But then again, my timezone is + 1 and I am not sure if that plays into it as well..

[2022-11-24 23:52] abacto commented on #112
I figured out a super easy work-around to address "1 day off" issue.
It seems working for me. :)

Instead of assigning date field with the string "2022-12-19", you will need to use this format "Mon 2022-12-19".
This will ensure Date related operation avoid local timezone issue.

Can't believe how I dig the internet to find this. If you are interested, this is how the solution was born.
1. Inspired

[2022-11-24 23:58] SkylineDev2 commented on #112
I figured out 1-line code change at my backend to address "1 day off" issue.
 It seems working for me. :)

Instead of assigning date field with the string "2022-12-19",
you will need to use this format "Mon 2022-12-19". 

Can't believe how I dig the internet to find this.
If you are interested in how this solution was born. See more references here:
1. Inspired by others, I set the direction to us